header {
    height: 9rem!important;
}
ul.navbar-nav>li:nth-child(3)>a{
    color: #4967FF;
    border-top:3px solid #4967FF;
}
section>div:first-child>ul>li>img{
    width: 100%;
}
/*标题*/
.common_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    font-size: 22px;
    margin-bottom: 60px;
}
.common_title>p:last-child{
    margin-top: 1rem;
}
.common_pic{
    display: flex;
    justify-content: center;
}
.common_pic>img{
    width: 153px;
    height: 5rem;
}

.Post_hui{
    color: #999999;
}
/*类型*/
div.businessType>div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media (min-width: 431px) and (max-width: 768px){
    div.businessType>div>a:nth-child(odd){
        margin-left: 0;
        margin-bottom: 15px;
    }
    div.businessType>div>a:nth-child(even){
        margin-left: 15px;
        margin-bottom: 15px;
    }
}
@media (min-width: 320px) and (max-width: 430px){
    div.businessType>div>a{
        margin-left: 0!important;
        margin-bottom: 15px!important;
    }
}
/*种类*/
.businessType>div>a{
    margin-left: 30px;
}
.businessType>div>a:first-child{
    margin-left: 0;
}
.businessType>div>a>div{
    height: 530px;
    width: 296px;
    background-color: #ffffff;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 15px #EEF1FF;
}
.businessType>div>a>div>p,
.businessType>div>a>div>div:not(:first-child){
    padding: 0 20px;
}
.businessType>div>a>div.app{
    background-image: url("../images/recruitmentPost/icon_1.png");
}
.businessType>div>a>div.websiteConstruction{
    background-image: url("../images/recruitmentPost/icon_2.png");
    background-position: 0px -2px;
}

.businessType>div>a>div.systemManagement{
    background-image: url("../images/recruitmentPost/icon_3.png");
}
.businessType>div>a>div>div:first-child{
    height: 181px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.businessType>div>a>div>div:first-child>img{
    width: 70px;
    margin-bottom: 10px;
}
.businessType>div>a>div>div:first-child>p{
    color: #ffffff;
    font-size: 16px;
}
.businessType>div>a>div>p{
    font-size: 13px;
    color: #999;
    margin: 2.5px 0;
}
.businessType>div>a>div>div>div{
    margin: 2.5px 0;
}
.businessType>div>a>div>div>div>span.Post_hui{
    font-size: 12px;
    color: #999;
}
div.businessType>div:nth-child(2){
    margin: 25px 0;
}
div.businessType>div:nth-child(2)>ul{
    margin-left: 10px;
}
div.businessType>div:nth-child(2)>ul>li{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: #4261FF;
    border-radius: 50%;
    color: #ffffff;
}
div.businessType>div:nth-child(3){
    margin: 10px 0;
}
div.businessType>div:last-child{
    padding-bottom: 80px;
}
div.businessType>div:last-child>span{
    display: inline-block;
    background-color: #4261FF;
    height: 40px;
    width: 300px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
}